 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./components/worn_dots.png");

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 
